body {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(238, 214, 147);
}

.page-header {
  text-align: center;
  padding: 0 0 1px;
  background: linear-gradient(0deg, rgb(88, 55, 22) 0%, rgb(12, 14, 15) 100%);
  border-radius: 1rem;
  color: rgb(143, 154, 161);
  text-transform: uppercase;
  /* margin-bottom: 1%; */
}

.interact-box {
  padding: 1%;
  border-style: outset;
}

.info-box {
  padding: 1%;
  margin: 1% 1% 0 0;
  border-style: outset;
}

.info-box img {
  max-height: 200px;
  display: block;
  margin: auto;
}

.animation-fight {
  animation: shake 0.5s;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}